{% extends '_layout.html' %}
{% load custom_filters %}

{% block content %}
	<div class="content mt-3">
        <div class="container-fluid">
            {% if searched_content != 'all' %}
                {% if paginated_products.object_list.count %}
                    <div class="d-flex align-items-center mb-4 alert alert-light shadow-box rounded-4">
                        <span class="h3 main-color-one-color me-3">{{ paginated_products.object_list.count }}</span>
                        <h1 class="h3">
                            نتیجه برای "{{ searched_content }}" پیدا شده !
                        </h1>
                    </div>
                {% else %}
                    <div class="d-flex align-items-center mb-4 alert alert-light shadow-box rounded-4">
                        <h1 class="h3 text-danger">
                             نتیجه ای یافت نشد
                        </h1>
                    </div>
                {% endif %}
        {% endif %}


            <div class="row">
                <div class="col-lg-3">

                    <!-- start filter in mobile -->
                    <div class="custom-filter d-lg-none d-block">
                        <button class="btn btn-filter-float border-0 main-color-one-bg shadow-box px-3 rounded-3 position-fixed"
                                style="z-index: 999;bottom:80px;" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                            <i class="bi bi-funnel font-20 fw-bold text-white"></i>
                            <span class="d-block font-14 text-white">فیلتر</span>
                        </button>

                        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasRight"
                             aria-labelledby="offcanvasRightLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasRightLabel1">فیلتر ها</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <div class="position-sticky top-0 mb-5">
                                    <div class="item-boxs">

                                         {% if filter_status %}
                                            <div class="item-box shadow-box">
                                                <div class="title">
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <h6 class="font-14">فیلتر های اعمال شده</h6>
                                                        <a class="btn border-0" data-bs-toggle="collapse" href="#collapseItemBox" role="button" aria-expanded="false">
                                                            <i class="bi bi-chevron-down"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="desc collapse show" id="collapseItemBox">
                                                    {% if filter_status.category %}
                                                        <a href="{% url 'remove_filter' searched_content filter_status.category %}?{{ url_prams }}&order_by={{ order_by }}" class="btn btn-sm rounded-pill border-1 border-muted me-1 font-14 mb-2">
                                                            <span>دسته بندی : {{ category_title }}</span>
                                                            <span class="ms-3"><i class="bi bi-x text-danger"></i></span>
                                                        </a>
                                                    {% endif %}
                                                    {% if filter_status.price %}
                                                        <a href="{% url 'remove_filter' searched_content filter_status.price %}?{{ url_prams }}&order_by={{ order_by }}" class="btn btn-sm rounded-pill border-1 border-muted me-1 font-14 mb-2">
                                                            <span>قیمت : {{ min_price|intcomma }} - {{ max_price|intcomma }}</span>
                                                            <span class="ms-3"><i class="bi bi-x text-danger"></i></span>
                                                        </a>
                                                    {% endif %}
                                                    {% if filter_status.order_by %}
                                                        <a href="{% url 'remove_filter' searched_content filter_status.order_by %}?{{ url_prams }}&order_by={{ order_by }}" class="btn btn-sm rounded-pill border-1 border-muted me-1 font-14 mb-2">
                                                            <span>مرتب سازی : {{ order_by_persian }}</span>
                                                            <span class="ms-3"><i class="bi bi-x text-danger"></i></span>
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}

                                        <div class="item-box shadow-box">
                                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header">
                                                        <button class="accordion-button collapsed f-800" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                                            محدوده قیمت
                                                        </button>
                                                    </h2>
                                                    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">

                                                            <form action="" method="post">
                                                                <div class="row">
                                                                    {% csrf_token %}
                                                                    <div class="col-6">
                                                                        <input type="number" name="min"  min="10000" class="form-control input-range-filter" placeholder="از 1500000">
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <input type="number" name="max"  min="10000" max="5000000" class="form-control input-range-filter" placeholder="از 3000000">
                                                                    </div>

                                                                    <div class="col-12">
                                                                        <div class="text-center my-3">
                                                                            <input type="submit" class="btn main-color-green text-white rounded-pill px-5 py-2" value="اعمال فیلتر">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="item-box shadow-box">
                                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header">
                                                        <button class="accordion-button collapsed f-800" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                                            دسته بندی
                                                        </button>
                                                    </h2>
                                                    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <form action="{% url 'filter_by_category' searched_content %}?{{ url_prams }}&order_by={{ order_by }}" method="post">
                                                            {% csrf_token %}
                                                                {% for category in categories %}
                                                                    <div class="d-flex align-items-center justify-content-between flex-wrap mb-3">
                                                                        <div class="form-check">
                                                                            <label for="colorCheck111" class="form-check-label">{{ category.category_title }}</label>
                                                                            <input type="radio" name="category" id="colorCheck111" class="form-check-input" value="{{ category.category_title }}">
                                                                        </div>
                                                                        <div>
                                                                            <span class="fw-bold font-14">({{ category.products.count }})</span>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}

                                                                <div class="text-center mb-3 mt-2">
                                                                    <input type="submit" class="btn main-color-green text-white rounded-pill px-5 py-2" value="اعمال فیلتر">
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end filter mobile -->

                    <div class="position-sticky top-0 mb-5 d-lg-block d-none">
                        <div class="item-boxs">

                            {% if filter_status %}
                                <div class="item-box shadow-box">
                                    <div class="title">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <h6 class="font-14">فیلتر های اعمال شده</h6>
                                            <a class="btn border-0" data-bs-toggle="collapse" href="#collapseItemBox" role="button" aria-expanded="false">
                                                <i class="bi bi-chevron-down"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="desc collapse show" id="collapseItemBox">
                                        {% if filter_status.category %}
                                            <a href="{% url 'remove_filter' searched_content filter_status.category %}?{{ url_prams }}&order_by={{ order_by }}" class="btn btn-sm rounded-pill border-1 border-muted me-1 font-14 mb-2">
                                                <span>دسته بندی : {{ category_title }}</span>
                                                <span class="ms-3"><i class="bi bi-x text-danger"></i></span>
                                            </a>
                                        {% endif %}
                                        {% if filter_status.price %}
                                            <a href="{% url 'remove_filter' searched_content filter_status.price %}?{{ url_prams }}&order_by={{ order_by }}" class="btn btn-sm rounded-pill border-1 border-muted me-1 font-14 mb-2">
                                                <span>قیمت : {{ min_price|intcomma }} - {{ max_price|intcomma }}</span>
                                                <span class="ms-3"><i class="bi bi-x text-danger"></i></span>
                                            </a>
                                        {% endif %}
                                        {% if filter_status.order_by %}
                                            <a href="{% url 'remove_filter' searched_content filter_status.order_by %}?{{ url_prams }}&order_by={{ order_by }}" class="btn btn-sm rounded-pill border-1 border-muted me-1 font-14 mb-2">
                                                <span>مرتب سازی : {{ order_by_persian }}</span>
                                                <span class="ms-3"><i class="bi bi-x text-danger"></i></span>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}


                            <div class="item-box shadow-box">
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed f-800" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                                محدوده قیمت
                                            </button>
                                        </h2>
                                        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">

                                                <form action="" method="post">
                                                    <div class="row">
                                                        {% csrf_token %}
                                                        <div class="col-6">
                                                            <input type="number" name="min"  min="10000" class="form-control input-range-filter" placeholder="از 1500000">
                                                        </div>

                                                        <div class="col-6">
                                                            <input type="number" name="max"  min="10000" max="5000000" class="form-control input-range-filter" placeholder="از 3000000">
                                                        </div>

                                                        <div class="col-12">
                                                            <div class="text-center my-3">
                                                                <input type="submit" class="btn main-color-green text-white rounded-pill px-5 py-2" value="اعمال فیلتر">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item-box shadow-box">
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed f-800" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                                دسته بندی
                                            </button>
                                        </h2>
                                        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                <form action="{% url 'filter_by_category' searched_content %}?{{ url_prams }}&order_by={{ order_by }}" method="post">
                                                {% csrf_token %}
                                                    {% for category in categories %}
                                                    	<div class="d-flex align-items-center justify-content-between flex-wrap mb-3">
                                                            <div class="form-check">
                                                                <label for="colorCheck111" class="form-check-label">{{ category.category_title }}</label>
                                                                <input type="radio" name="category" id="colorCheck111" class="form-check-input" value="{{ category.category_title }}">
                                                            </div>
                                                            <div>
                                                                <span class="fw-bold font-14">({{ category.products.count }})</span>
                                                            </div>
                                                        </div>
                                                    {% endfor %}

                                                    <div class="text-center mb-3 mt-2">
                                                        <input type="submit" class="btn main-color-green text-white rounded-pill px-5 py-2" value="اعمال فیلتر">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                {% if paginated_products.object_list.count %}
                	<div class="col-lg-9">

                        <div class="category-sort mb-3">
                            <div class="content-box">
                                <div class="container-fluid">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="box_filter d-lg-block d-none">
                                            <ul class="list-inline text-start mb-0">
                                                <li class="list-inline-item title-font ms-0">مرتب سازی بر اساس :</li>
                                                <li class="list-inline-item"><a href="?order_by=-book_price&{{ url_prams }}">گران ترین</a></li>
                                                <li class="list-inline-item"><a href="?order_by=book_price&{{ url_prams }}">ارزان ترین</a></li>
                                                <li class="list-inline-item"><a href="?order_by=-created_at&{{ url_prams }}">داغ ترین</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="d-lg-none d-block col-12">
                                        <ul class="list-inline text-start mt-3 mx-3 d-flex align-items-center justify-content-center">
                                            <li class="list-inline-item text-center"><a href="?order_by=-book_price&{{ url_prams }}" class="font-20">گران ترین</a></li>
                                            <li class="list-inline-item text-center"><a href="?order_by=book_price&{{ url_prams }}" class="font-20">ارزان ترین</a></li>
                                            <li class="list-inline-item text-center"><a href="?order_by=-created_at&{{ url_prams }}" class="font-20">داغ ترین</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="category-pro">
                            <div class="row g-3">

                                {% for product in paginated_products.object_list %}
                                    <div class="col-md-6 col-xl-4 col-xxl-3">
                                        <div class="product-box">
                                            <a href="{% url 'product-view' product.book_slug %}">
                                                <div class="product-image">
                                                    <img src="{{ product.book_image.url }}" loading="lazy" alt="" class="img-fluid one-image">
                                                    <img src="{{ product.book_image.url }}" loading="lazy" alt="" class="img-fluid two-image">
                                                </div>
                                                <div class="product-title">
                                                    <div class="title">
                                                        <p class="text-overflow-1 title-font">{{ product.book_title }}</p>
                                                    </div>
                                                </div>
                                                <div class="product-action">
                                                    <div class="link">
                                                        <button class="btn border-0 rounded-3 main-color-one-bg" href="{% url 'product-view' product.book_slug %}">
                                                            <i class="bi bi-basket text-white"></i>
                                                        </button>
                                                    </div>
                                                    <div class="price">
                                                        {% if product.discounted_percentage %}
                                                            <p class="old-price">{{ product.book_price|intcomma }} <span class="danger-label rounded-3 ms-2">{{ product.discounted_percentage }}%</span></p>
                                                            <p class="new-price">{{ product.discounted_price|intcomma }} <span class="font-12">تومان</span></p>
                                                        {% else %}
                                                            <p class="new-price">{{ product.book_price|intcomma }} <span class="font-12">تومان</span></p>
                                                        {% endif %}

                                                    </div>
                                                </div>
                                            </a>
                                            <div class="product-foot mt-2 border-top border-1 pt-1">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <nav class="navbar navbar-expand">
                                                        <ul class="navbar-nav align-items-center">
                                                            <li class="nav-item">
                                                                <a href="" class="nav-item product-box-hover-item product-box-hover-item-btn" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="افزودن به علاقه ها">
                                                                    <i class="bi bi-heart"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </nav>
                                                    <div class="product-rating">
                                                        <div class="number"><span class="text-muted font-12">({{ product.comments.count }}+) {{ product.comments.rating }}</span></div>
                                                        <div class="icon"><i class="bi bi-star-fill"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                                <div class="col-12">
                                    <div class="my-paginate mt-5">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination justify-content-center">
                                                {% if paginated_products.has_previous %}
                                                    <li class="page-item">
                                                        <a class="page-link rounded-3" href="?page={{ paginated_products.previous_page_number }}&{{ params_change_page }}"><i class="bi bi-chevron-right"></i></a>
                                                    </li>
                                                {% endif %}

                                                <li class="page-item active"><a class="page-link rounded-3">{{ paginated_products.number }}</a></li>

                                                {% if paginated_products.has_next %}
                                                    <li class="page-item">
                                                        <a class="page-link rounded-3" href="?page={{ paginated_products.next_page_number }}&{{ params_change_page }}"><i class="bi bi-chevron-left"></i></a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                {% endif %}


            </div>
        </div>
    </div>
{% endblock %}