{% extends '_layout-panel.html' %}

{% block content %}
    <div class="col-lg-9">
        <div class="section-title">
            <div class="section-title-title">
                <h3 class="title-font h3 main-color-three-color">آدرس های<span
                        class="main-color-one-color"> ثبت شده </span>
                </h3>
            </div>
        </div>
        <div class="content-box slider-parent rounded-4">
            <div class="container-fluid">
                <div class="row">
                    {% for item in address %}
                        <div class="col-md-4">
                            <div class="bg-white card addresses-item mb-4 shadow-sm">
                                <div class="gold-members p-4">
                                    <div class="media">
                                        <div class="media-body">
                                            <p class="text-overflow-2 address-line">
                                                خیابان : {{ item.street }}
                                            </p>
                                            <p class="text-overflow-2 address-line">
                                                استان : {{ item.state }}
                                            </p>
                                            <p class="text-overflow-2 address-line">
                                                شهر : {{ item.city }}
                                            </p>
                                            <p class="text-overflow-2 address-line">
                                                شماره تماس : {{ item.phone_number }}
                                            </p>

                                            <p class="mb-0 text-black font-weight-bold">
                                                <a class="text-danger" data-toggle="modal" data-target="#delete-address-modal" href="{% url 'delete_address' item.id %}"><i class="bi bi-trash"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="da-action mx-2">
                <a href="{% url 'create_address' %}" class="btn main-color-one-bg border-0 btn-lg">افزودن آدرس</a>
            </div>

        </div>
    </div>
{% endblock %}