{% extends '_layout-panel.html' %}

{% block content %}
    <div class="col-lg-9">
        <div class="section-title">
            <div class="section-title-title">
                <h3 class="title-font h3 main-color-three-color">محصولات<span
                        class="main-color-one-color"> موردعلاقه </span>
                </h3>
            </div>
        </div>
        {% if favorites.count %}
            <div class="content-box slider-parent rounded-4">
                <div class="container-fluid">
                    <ul class="row gy-3 ps-0">
                        {% for favorite in favorites %}
                            <div class="col-sm-6">
                                <div class="cart-canvas border rounded-3 p-3">
                                    <div class="row align-items-center">
                                        <div class="col-4 ps-0">
                                            <img src="{{ favorite.product.book_image.url }}" width="200" height="200" alt="">
                                        </div>
                                        <div class="col-8">
                                            <h3 class="text-overflow-2 font-16">{{ favorite.product.book_title }}</h3>
                                            <div class="product-box-suggest-price my-2  d-flex align-items-center justify-content-between">
                                                <ins class="font-25 ms-0">{{ favorite.product.book_price }} <span>تومان</span></ins>
                                            </div>
                                            <div class="cart-canvas-foot d-flex align-items-center justify-content-between">
                                                <div class="cart-canvas-delete">
                                                    <a href="{% url 'remove-favorite' favorite.product.book_slug %}" class="btn"><i class="bi bi-x"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </ul>
                    <div class="my-paginate mt-5">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link rounded-3" href="#"><i class="bi bi-chevron-right"></i></a>
                                </li>
                                <li class="page-item active"><a class="page-link rounded-3" href="#">1</a></li>
                                <li class="page-item"><a class="page-link rounded-3" href="#">2</a></li>
                                <li class="page-item"><a class="page-link rounded-3" href="#">3</a></li>
                                <li class="page-item"><a class="page-link rounded-3" href="#">...</a></li>
                                <li class="page-item"><a class="page-link rounded-3" href="#">14</a></li>
                                <li class="page-item"><a class="page-link rounded-3" href="#">15</a></li>
                                <li class="page-item"><a class="page-link rounded-3" href="#">16</a></li>
                                <li class="page-item">
                                    <a class="page-link rounded-3" href="#"><i class="bi bi-chevron-left"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}