{% extends '_layout-panel.html' %}

{% block content %}
	<div class="col-lg-9">
                <div class="panel-latest-order mt-4">

                    <div class="section-title">
                        <div class="section-title-title">
                            <h3 class="title-font h3 main-color-three-color">آخرین<span class="main-color-one-color"> سفارشات </span>
                            </h3>
                        </div>
                    </div>

                    <div class="table-responsive shadow-box roundedTable p-0">
                        <table class="table  main-table rounded-0">
                            <thead class="text-center">
                            <tr>
                                <th class="title-font">#</th>
                                <th class="title-font">شماره سفارش</th>
                                <th class="title-font">تاریخ ثبت سفارش</th>
                                <th class="title-font">مبلغ پرداختی</th>
                                <th class="title-font">وضعیت سفارش</th>
                                <th class="title-font">جزییات</th>
                            </tr>
                            </thead>
                            <tbody class="text-center">
                            <tr>
                                <td class="font-14">1</td>
                                <td class="font-14">2354632</td>
                                <td class="font-14">سه شنبه 13 دی 1401</td>
                                <td class="font-14">580,000 تومان</td>
                                <td class="font-14"><a href="" class="title-font">سفارش مرجوع شده</a></td>
                                <td class="font-14">
                                    <a href="" class="btn border-0 main-color-one-bg waves-effect waves-light"><i class="bi bi-chevron-left"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-14">2</td>
                                <td class="font-14">2354632</td>
                                <td class="font-14">سه شنبه 13 دی 1401</td>
                                <td class="font-14">580,000 تومان</td>
                                <td class="font-14"><a href="" class="title-font">سفارش لغو شده</a></td>
                                <td class="font-14">
                                    <a href="" class="btn border-0 main-color-one-bg waves-effect waves-light"><i class="bi bi-chevron-left"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-14">1</td>
                                <td class="font-14">2354632</td>
                                <td class="font-14">سه شنبه 13 دی 1401</td>
                                <td class="font-14">580,000 تومان</td>
                                <td class="font-14"><a href="" class="title-font">سفارش تحویل داده شده</a></td>
                                <td class="font-14">
                                    <a href="" class="btn border-0 main-color-one-bg waves-effect waves-light"><i class="bi bi-chevron-left"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-14">2</td>
                                <td class="font-14">2354632</td>
                                <td class="font-14">سه شنبه 13 دی 1401</td>
                                <td class="font-14">580,000 تومان</td>
                                <td class="font-14"><a href="" class="title-font">سفارش در انتظار پرداخت</a></td>
                                <td class="font-14">
                                    <a href="" class="btn border-0 main-color-one-bg waves-effect waves-light"><i class="bi bi-chevron-left"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="my-paginate mt-5">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link rounded-3" href="#"><i class="bi bi-chevron-right"></i></a>
                            </li>
                            <li class="page-item active"><a class="page-link rounded-3" href="#">1</a></li>
                            <li class="page-item"><a class="page-link rounded-3" href="#">2</a></li>
                            <li class="page-item"><a class="page-link rounded-3" href="#">3</a></li>
                            <li class="page-item"><a class="page-link rounded-3" href="#">...</a></li>
                            <li class="page-item"><a class="page-link rounded-3" href="#">14</a></li>
                            <li class="page-item"><a class="page-link rounded-3" href="#">15</a></li>
                            <li class="page-item"><a class="page-link rounded-3" href="#">16</a></li>
                            <li class="page-item">
                                <a class="page-link rounded-3" href="#"><i class="bi bi-chevron-left"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
{% endblock %}
