<div class="item">
    <div class="factor">

        <div class="d-flex factor-item mb-3 align-items-center justify-content-between">
            <h5 class="mb-0 h6">قیمت کالا ها</h5>
            <p class="mb-0 font-17">{{ cart.total_amount_with_out_discount }} تومان</p>
        </div>

        <div class="d-flex factor-item mb-3 align-items-center justify-content-between">
            <h5 class="mb-0 h6">تخفیف کالا ها</h5>
            <p class="mb-0 font-18">{{ cart.total_discounted_amount }} تومان</p>
        </div>

        <div class="d-flex factor-item mb-3 align-items-center justify-content-between">
            <h5 class="mb-0 h6">مجموع</h5>
            <p class="mb-0 font-18">{{ cart.total_amount }} تومان</p>
        </div>

        <div class="action mt-3 d-flex align-items-center justify-content-center">
            <a href="{% url 'checkout' %}" class="btn main-color-one-bg w-100">تسویه حساب</a>
        </div>

    </div>
</div>