{% extends '_layout.html' %}
{% load custom_filters %}

{% block title %}

{% endblock %}

{% block content %}
    <div class="product-meta pb-2">
        <div class="container-fluid position-relative">
            <div class="content-box">
                <div class="container-fluid">
                    <div class="row gy-3">
                        <div class="col-lg-4">
                            <div class="pro_gallery">
                                <div class="pro-gallery-parent">
                                    <div class="swiper product-gallery">
                                        <div class="swiper-wrapper" title="برای بزرگنمایی تصویر دابل کلیک کنید">
                                            {% for image in images %}
                                                <div class="swiper-slide">
                                                    <div class="swiper-zoom-container">
                                                        <img class="img-fluid" src="{{ image.image.url }}" alt=""/>
                                                    </div>
                                                </div>
                                            {% endfor %}

                                        </div>
                                        <div class="swiper-button-next d-none d-lg-flex"></div>
                                        <div class="swiper-button-prev d-none d-lg-flex"></div>
                                        <div class="swiper-pagination d-none d-lg-block"></div>
                                    </div>
                                </div>
                                <div thumbsSlider="" class="swiper product-gallery-thumb">
                                    <div class="swiper-wrapper">
                                        {% for image in images %}
                                        	<div class="swiper-slide">
                                                <img alt="" class="img-fluid" src="{{ image.image.url }}"/>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="product-mete-title bottom-border">
                                <h3 class="title-font h4">{{ object.book_title }}</h3>
                            </div>
                            <div class="product-meta-overal my-3 bottom-border">
                                <div class="row gy-3 align-items-center">
                                    <div class="col-md-4">
                                        <div class="label-site rounded-pill label-success">
                                            <i class="bi bi-check-circle me-1"></i>
                                            {{ object.inventory }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="d-flex align-items-center">
                                            <span class="text-muted-two me-2">دسته بندی</span>
                                            <div class="label-site rounded-pill">
                                                {{ object.category.category_title }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-meta-feature bottom-border">
                                <div class="row gy-3">
                                    <div class="col-lg-8">
                                        <div class="product-meta-feature-items">
                                            <h5 class="title font-16 mb-2">ویژگی های کالا</h5>
                                            <ul class="navbar-nav">
                                                <li class="nav item"><span>نویسنده:</span><strong>{{ object.book_author }}</strong></li>
                                                <li class="nav item"><span>تعداد صفحه:</span><strong>{{ object.book_page_count }}</strong></li>
                                                {% if object.book_translator %}
                                                    <li class="nav item"><span>مترجم:</span><strong>{{ object.book_translator }}</strong></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="product-meta-rating text-lg-end text-start">
                                            <div class="label-site label-waring rounded-pill">
                                                <span class="product-meta-rating-comment-count me-1">0</span>
                                                <span class="product-meta-rating-comment-count-text me-3">نظر</span>
                                                <span class="product-meta-rating-rating-count me-1">0</span>
                                                <span class="product-meta-rating-rating-count-text"><i class="bi bi-star-fill"></i></span>
                                            </div>
                                        </div>
                                        <div class="product-meta-rating mt-2 text-lg-end text-start">
                                            <div class="label-site label-success rounded-pill">
                                                آماده ارسال
                                                <i class="bi bi-truck ms-2"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="icon-product-box my-3">
                                {% if favorite_products %}
                                	<div class="icon-product-box-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="حذف از علاقه مندی">
                                        <a href="{% url 'remove-favorite' object.book_slug %}"><i class="bi bi-heart-fill" style="color: red!important;"></i></a>
                                    </div>
                                {% else %}
                                    <div class="icon-product-box-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="افزودن به علاقه مندی">
                                        <a href="{% url 'add-favorite' object.book_slug %}"><i class="bi bi-heart"></i></a>
                                    </div>
                                {% endif %}
                            </div>

                            <div class="product-meta-count text-muted">
                                <span>{{ object.inventory }} عدد در انبار</span>
                            </div>

                            <div class="product-meta-action">
                                <div class="row align-items-center gy-3">
                                    <div class="col-lg-6 w-100-in-400">
                                        {% if object.discounted_percentage %}
                                        	<h6 class="fs-3 text-sm-start text-center new-price text-dark-emphasis text-start">
                                            {{ object.discounted_price|intcomma }} تومان</h6>
                                        {% else %}
                                            <h6 class="fs-3 text-sm-start text-center new-price text-dark-emphasis text-start">
                                            {{ object.book_price|intcomma }} تومان</h6>
                                        {% endif %}

                                    </div>
                                    <div class="col-lg-6 w-100-in-400">
                                        <div class="d-flex justify-content-end flex-wrap">
                                            <button onclick="add_cart_items('{{ object.book_slug }}')" class="btn me-3 btn-add-to-basket border-0 main-color-one-bg"><i class="bi bi-basket text-white font-20 me-1"></i>خرید کالا</button>
                                            <div class="product-counter-input">
                                                <div class="counter">
                                                    <div class="input-group bootstrap-touchspin bootstrap-touchspin-injected">
                                                        <span class="input-group-btn input-group-prepend">
                                                            <button onclick="change_quantity('decrease', {{ object.inventory }})" class="btn-counter waves-effect waves-light bootstrap-touchspin-down" type="button">-</button>
                                                        </span>
                                                        <input type="text" id="quantity_input" name="count" class="counter form-counter" value="1">
                                                        <span class="input-group-btn input-group-append">
                                                            <button onclick="change_quantity('increase', {{ object.inventory }})" class="btn-counter waves-effect waves-light bootstrap-touchspin-up" type="button">+</button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex mt-3 justify-content-start flex-wrap">
                                        <p id="massage" class="text-success font-18 hidden"> محصول با موفقیت به سبد خرید اضافه شد. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Dottedsquare-product d-lg-flex d-none"></div>

        </div>
    </div>

    <div class="product-desc py-20">
        <div class="container-fluid">
            <div class="product-desc-tab">
                <ul class="nav" id="productTab" role="tablist">
                    <li class="nav-item">
                        <button class="active waves-effect waves-light" id="productDescLess" data-bs-toggle="tab" data-bs-target="#productDescLess-pane" role="button" type="button" aria-selected="true">
                            توضیحات کالا
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class=" waves-effect waves-light" id="productComment" data-bs-toggle="tab" data-bs-target="#productComment-pane" role="button" type="button" aria-selected="false">
                            نظرات
                        </button>
                    </li>
                </ul>
            </div>
            <div class="content-box">
                <div class="container-fluid">
                    <div class="product-descs" id="prodesc">
                        <div class="product-desc">
                            <div class="product-desc-tab-content">
                                <div class="tab-content" id="productTabContent">
                                    <div class="tab-pane fade show active product-desc-less-contents"
                                         id="productDescLess-pane">
                                        <div class="product-desc-content">
                                            <input type="checkbox" class="read-more-state" id="readMore3"/>
                                            <div class="read-more-wrap">
                                                <h6 class="font-22 mb-2 title-font">معرفی محصول</h6>

                                                <p>
                                                    {{ object.book_description }}
                                                </p>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade product-comment-content" id="productComment-pane">
                                            {% if request.user.is_authenticated %}
                                                <div class="comment-form">

                                                <h6 class="font-26 mb-2 title-font">نظرت در مورد این محصول چیه؟</h6>
                                                <p class="font-14 text-muted mt-2">برای ثبت نظر، از طریق دکمه افزودن دیدگاه جدید نمایید. اگر این محصول را قبلا خریده باشید، نظر شما به عنوان خریدار ثبت خواهد شد.</p>

                                                <div class="row gy-4">
                                                    <div class="col-12">
                                                        <div class="row">
                                                            <form method="post" action="">
                                                                {% csrf_token %}
                                                                <div class="col-12">
                                                                    <div class="form-group mt-3">

                                                                        <label for="commentRating" class="">امتیاز شما</label>
                                                                        <fieldset id="commentRating" class="rating">
                                                                            <input type="radio" id="star5" name="rating"
                                                                                   value="5" required/>
                                                                            <label for="star5">5 stars</label>
                                                                            <input type="radio" id="star4" name="rating"
                                                                                   value="4" required/>
                                                                            <label for="star4">4 stars</label>
                                                                            <input type="radio" id="star3" name="rating"
                                                                                   value="3" required/>
                                                                            <label for="star3">3 stars</label>
                                                                            <input type="radio" id="star2" name="rating"
                                                                                   value="2" required/>
                                                                            <label for="star2">2 stars</label>
                                                                            <input type="radio" id="star1" name="rating"
                                                                                   value="1" required/>
                                                                            <label for="star1">1 star</label>
                                                                        </fieldset>

                                                                    </div>
                                                                </div>
                                                                <div class="col-12">

                                                                    <div class="comment-item my-3">
                                                                        <textarea name="comment" class="form-control p-4" id="floatingTextarea2" style="height: 150px"></textarea>
                                                                        <label for="floatingTextarea2" class="form-label label-float">متن نظر!</label>
                                                                    </div>

                                                                </div>

                                                                <div class="col-12">
                                                                    <input type="submit" value="ثبت نظر" class="btn btn-comment border-0 main-color-one-bg my-3 mx-auto btn-lg waves-effect waves-light">
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% else %}
                                                <div class="comment-form">
                                                    <h6 class="font-26 mb-2 title-font text-warning">برای ثبت نظر وارد حساب خود شوید</h6>
                                                </div>
                                            {% endif %}

                                            {% for comment in comments %}
                                                <div class="comment mb-4">
                                                    <div class="title">
                                                        <div class="row align-items-center">
                                                            <div class="col-sm-10">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="d-flex flex-wrap align-items-center ms-2">
                                                                        <h6 class="text-muted font-14">{{ comment.user.username }}</h6>
                                                                        <h6 class="text-muted font-14 ms-2">{{ comment.jalali_created_at }}</h6>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <div class="d-flex star justify-content-end">
                                                                    {% for star in comment.unfilled_star %}
                                                                        <i class="bi bi-star"></i>
                                                                    {% endfor %}

                                                                    {% for star in comment.filled_star %}
                                                                        <i class="bi bi-star-fill"></i>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="desc py-3">
                                                        <p class="font-14 text-muted">{{ comment.comment }}</p>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
