<!-- start footer -->

<footer class="footer my-20">
    <div class="footer-menu py-30">
        <div class="container-fluid">
            <div class="row gy-4">
                <div class="col-lg-6">
                    <div class="row gy-3">
                        {% for item in category %}
                        <div class="col-md-3 col-sm-6 col-6">
                            <div class="footer-col-item">
                                <div class="font-20">
                                    <strong> {{ item.name }} </strong>
                                </div>
                                <nav class="navbar">
                                    <ul class="navbar-nav">
                                        {% for cat in item.catgorymodel_set.all %}
                                            <li class="nav-item"><a href="{% url 'search-catgory' cat.slug %}" class="nav-link font-15">{{ cat.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row gy-3">
                        <div class="col-sm-5">
                            <div class="main-color-one-bg hover p-2 rounded-3 text-center f-600">
                                کارشناسان ما میزبان صدایتان هستند
                            </div>
                            <div class="d-flex align-items-center justify-content-end mt-2 py-2">
                                <a href=""><span class="me-2">09921134877</span></a>
                                <i class="bi bi-telephone-inbound-fill font-16"></i>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <nav class="navbar navbar-expand pt-0 mt-0 justify-content-center ">
                                <ul class="navbar-nav ">
                                    <li class="nav-item footer-namad-item"><a href=""
                                                                              class="nav-link mt-0 pt-0 text-muted-two"><img
                                            src="/static/img/namad-03.png" class="img-thumbnail" alt=""></a></li>
                                    <li class="nav-item footer-namad-item"><a href=""
                                                                              class="nav-link mt-0 pt-0 text-muted-two"><img
                                            src="/static/img/enamad.png" class="img-thumbnail" alt=""></a></li>
                                    <li class="nav-item footer-namad-item"><a href=""
                                                                              class="nav-link mt-0 pt-0 text-muted-two"><img
                                            src="/static/img/rezi.png" class="img-thumbnail" alt=""></a></li>
                                </ul>
                            </nav>
                            <div class="footer-social">
                                <nav class="navbar navbar-expand">
                                    <ul class="navbar-nav">
                                        <li class="nav-item"><a href="https://github.com/MohsenSangSefidi" class="nav-link"><img
                                                src="/static/img/github.png" alt=""></a></li>
                                        <li class="nav-item"><a href="https://t.me/mohsensangsefidi" class="nav-link"><img
                                                src="/static/img/telegram.png" alt=""></a></li>
                                        <li class="nav-item"><a href="https://www.linkedin.com/in/mohsen-sang-sefidi-67624a217?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B3fVYsL4TRu2iSMStihIqvw%3D%3D" class="nav-link"><img
                                                src="/static/img/linkedin.png" alt=""></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row gy-4">
                        <div class="col-lg-2">
                            <div class="footer-logo-parent">
                                <div class="footer__logo">
                                    <a href="/" class="footer__logo__image">
                                        <img src="/static/img/logo-stand.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="footer-description pt-3 border-top ">
                                <small class="text-muted">استادینو؛ مرکز خرید و فروش انواع کتاب‌های کمک درسی، آموزشی،
                                    دانشگاهی، زبان‌های خارجی، عمومی، کودک و نوجوان می‌باشد و مرجعی برای تهیه انواع
                                    لوازم‌التحریر مورد نیاز برای دانش‌آموزان و دانشجویان، لوازم اداری برای شرکت‌ها و
                                    سازمان‌ها و بازی‌های آموزشی برای تمامی سنین است. </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- /footer -->

<!-- start copy right -->

<div class="copy-right mt-5">
    <div class="container-fluid">
        <div class="copy-right-parent">
            <div class="row">
                <div class="col-sm-6">
                    <p class="font-12 text-sm-start text-center">
                        2024 © - تمامی حقوق مادی و معنوی برای فروشگاه اینترنتی استادینو محفوظ می باشد.
                    </p>
                </div>
                <div class="col-sm-6">
                    <a class="d-block text-sm-end text-center">
                        طراحی و توسعه محسن سنگ سفیدی
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /copy right -->