{% extends '_layout.html' %}
{% load poll_extras %}

{% block title %}
    Stadino
{% endblock %}

{% block content %}
    <!-- slider -->

    <div class="main-slider py-20">
        <div class="container-fluid">
            <div class="row gy-4">
                <div class="col-lg-9">
                    <div class="home-slider shadow-box">

                        <div class="slider__layer slider__layer--top"
                             style="background-color: #000000; right: -13px; top: 20px; bottom: 20px;"></div>
                        <div class="slider__layer slider__layer--bottom"
                             style="background-color: #000; right: -25px; top: 40px; bottom: 40px;"></div>

                        <div class="swiper homeSlider" id="">
                            <div class="swiper-wrapper">
                                {% for slide in slider %}
                                    <div class="swiper-slide">
                                        <a>
                                            <img alt="" class="slider-img" loading="lazy"
                                                 src="{{ slide.img.url }}">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="swiper-button-next d-lg-flex d-none"></div>
                            <div class="swiper-button-prev d-lg-flex d-none"></div>
                            <div class="swiper-pagination-bg">
                                <div>
                                    <svg fill="none" height="75" viewBox="0 0 231 75" width="231"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path clip-rule="evenodd"
                                              d="M0 0C31.5006 0.949537 50.52 17.872 56.1955 26.4544L55.986 25.8011L82.4924 58.631C99.3032 79.4521 131.038 79.4521 147.849 58.6309L174.356 25.8011L174.146 26.4544C179.822 17.872 198.844 0.949537 230.349 0H0Z"
                                              fill="#FCFCFC"
                                              fill-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="swiper suggetMoment">
                        <div class="swiper-wrapper position-relative">
                            {% for product in special %}
                                <div class="swiper-slide">
                                    <div class="product-box">
                                        <div class="product-timer">
                                            <div class="timer-label">
                                                <span>{{ product.discount }}%</span>
                                            </div>
                                            <div class="timer">
                                                <div class='countdown'
                                                     data-date="{{ product.special_discount_date.year }}-{{ product.special_discount_date.month }}-{{ product.special_discount_date.day }}"
                                                     data-time="{{ product.special_discount_date.hour }}:{{ product.special_discount_date.minute }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-image">
                                            <img alt="" class="img-fluid" loading="lazy"
                                                 src="{{ product.productimagemodel_set.all.first.img.url }}">
                                        </div>
                                        <div class="product-title">
                                            <div class="title">
                                                <p class=" title-font">{{ product.name }}</p>
                                            </div>
                                            <div class="product-rating">
                                                <div class="number"><span
                                                        class="text-muted font-12">({{ product.commentmodel_set.all.count }}+) {{ product.ratingAvrg }}</span>
                                                </div>
                                                <div class="icon"><i class="bi bi-star-fill"></i></div>
                                            </div>
                                        </div>
                                        <div class="product-action">
                                            <div class="link">
                                                <a class="btn border-0 rounded-3 main-color-one-bg" href="{% url 'product-detail' product.slug %}">
                                                    <i class="bi bi-basket text-white"></i>
                                                </a>
                                            </div>
                                            <div class="price">
                                                <p class="old-price">{{ product.price|splitnumber }}</p>
                                                <p class="new-price">{{ product.disCount|splitnumber }} <span
                                                        class="font-12">تومان</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="swiper-progress-bar">
                                <span class="slide_progress-bar"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /slider -->

    <!-- start shop feature -->

    <div class="shop-feature py-30">
        <div class="container-fluid">
            <div class="shop-feature-parent">
                <div class="row justify-content-center g-2 row-cols-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-5">

                    <div class="col">
                        <div class="shop-feature-item shadow-top">
                            <img alt="" src="/static/img/icon/box.png">
                            <h5 class="mt-2">تحویل اکسپرس</h5>
                        </div>
                    </div>

                    <div class="col">
                        <div class="shop-feature-item shadow-bottom">
                            <img alt="" src="/static/img/icon/headphone.png">
                            <h5 class="mt-2"> پشتیبانی آنلاین</h5>
                        </div>
                    </div>

                    <div class="col">
                        <div class="shop-feature-item shadow-top">
                            <img alt="" src="/static/img/icon/money.png">
                            <h5 class="mt-2"> پرداخت در محل</h5>
                        </div>
                    </div>

                    <div class="col">
                        <div class="shop-feature-item shadow-bottom">
                            <img alt="" src="/static/img/icon/safe.png">
                            <h5 class="mt-2"> ضمانت کالا</h5>
                        </div>
                    </div>

                    <div class="col">
                        <div class="shop-feature-item shadow-top">
                            <img src="/static/img/icon/seven.png" alt="">
                            <h5 class="mt-2"> هفت روز ضمانت بازگشت</h5>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- /shop feature -->

    <!-- start slider category -->

    <div class="slider-category free-swiper py-30">
        <div class="container-fluid position-relative">

            <div class="section-title">
                <div class="row gy-3 align-items-center">
                    <div class="col-sm-8">
                        <div class="section-title-title">
                            <h2 class="title-font h1 main-color-three-color">دسته بندی <span
                                    class="main-color-one-color">محصولات</span>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper cat-slider">
                <div class="swiper-wrapper">
                    {% for catgory in catgorys %}
                        <div class="swiper-slide">
                            <a href="{% url 'search-catgory' catgory.slug %}">
                                <div class="slider-category-item">
                                    <div class="slider-category-item-title font-10">
                                        <h6>{{ catgory.name }}</h6>
                                    </div>
                                    <div class="slider-category-item-imagew">
                                        <img src="{{ catgory.catgoryimagemodel_set.all.first.img.url }}" alt="">
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}


                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>

    <!-- /slider category -->

    <!-- start amazing slider -->

    <div class="amazing-slider py-6 0 my-30">
        <div class="container-fluid">
            <div class="amazing-slider-parent site-slider content-box slider-parent">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <div class="section-title">
                                <div class="d-flex align-items-center">
                                    <img src="/static/img/discount-bold-1.svg" alt="">
                                    <div class="nw-title ms-2">
                                        <h5 class="fw-lighter">پیشنهاد</h5>
                                        <h3 class="title-font main-color-one-color">شگفت <span
                                                class="main-color-three-color">انگیز</span></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="amzming-slider-image text-center">
                                <img src="/static/img/gift-ruysa-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-9">

                            <div class="container-fluid">
                                <div class="swiper amazing-slider-sw">
                                    <div class="swiper-wrapper">
                                        {% for item in special %}
                                            <div class="swiper-slide">
                                                <div class="product-box">
                                                    <a href="{% url 'product-detail' item.slug %}">
                                                        <div class="product-image">
                                                            <img src="{{ item.productimagemodel_set.all.first.img.url }}"
                                                                 loading="lazy"
                                                                 alt="" class="img-fluid one-image">
                                                            <img src="{{ item.productimagemodel_set.all.first.img.url }}"
                                                                 loading="lazy"
                                                                 alt="" class="img-fluid two-image">
                                                        </div>
                                                        <div class="product-title">
                                                            <div class="title">
                                                                <p class=" title-font">{{ item.name }}</p>
                                                            </div>
                                                        </div>
                                                        <div class="product-action">
                                                            <div class="link">
                                                                <button class="btn border-0 rounded-3 main-color-one-bg"
                                                                        href="">
                                                                    <i class="bi bi-basket text-white"></i>
                                                                </button>
                                                            </div>
                                                            <div class="price">
                                                                <p class="old-price">{{ item.price }} <span
                                                                        class="danger-label rounded-3 ms-2">{{ item.discount }}%</span>
                                                                </p>
                                                                <p class="new-price">{{ item.disCount }} <span
                                                                        class="font-12">تومان</span></p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <div class="product-foot mt-2 border-top border-1 pt-1">
                                                        <div class="d-flex align-items-center justify-content-between">
                                                            <nav class="navbar navbar-expand">
                                                                <ul class="navbar-nav align-items-center">
                                                                    {% if request.user.is_authenticated %}
                                                                        <li class="nav-item"
                                                                            onclick="addProductToFavorite({{ item.id }})">
                                                                            <a
                                                                                    class="nav-item product-box-hover-item product-box-hover-item-btn"
                                                                                    data-bs-toggle="tooltip"
                                                                                    data-bs-placement="top"
                                                                                    data-bs-title="افزودن به علاقه ها">
                                                                                {% if item in favorit %}
                                                                                    <i class="bi bi-heart-fill text-danger"></i>
                                                                                {% else %}
                                                                                    <i class="bi bi-heart"></i>
                                                                                {% endif %}
                                                                            </a></li>
                                                                    {% endif %}
                                                                </ul>
                                                            </nav>
                                                            <div class="product-rating">
                                                                <div class="number"><span
                                                                        class="text-muted font-12">({{ item.commentmodel_set.all|length }}) {{ item.ratingAvrg }}</span>
                                                                </div>
                                                                <div class="icon"><i class="bi bi-star-fill"></i></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-timer justify-content-center border-top pt-2 mb-0">
                                                        <div class="timer">
                                                            <div class='countdown'
                                                                 data-date="{{ item.special_discount_date.year }}-{{ item.special_discount_date.month }}-{{ item.special_discount_date.day }}"
                                                                 data-time="{{ item.special_discount_date.hour }}:{{ item.special_discount_date.minute }}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end amazing slider -->

    <!-- start product slider -->

    <div class="product-slider free-sw site-slider mt-5">
        <div class="container-fluid">
            <div class="section-title">
                <div class="row gy-3 align-items-center">
                    <div class="col-sm-8">
                        <div class="section-title-title">
                            <h2 class="title-font h1 main-color-three-color">کتاب<span class="main-color-one-color"> کمک درسی </span>
                            </h2>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="section-title-link text-sm-end text-start">
                            <a class="btn btn-title  rounded-pill" href="{% url 'search-catgory' catgory1.slug %}"> مشاهده همه</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="parent parent-two">
            <div class="container-fluid">
                <div class="swiper pro-slider">
                    <div class="swiper-wrapper">
                        {% for product in catgory1_product %}
                            <div class="swiper-slide">
                                <div class="product-box">
                                    <a href="{% url 'product-detail' product.slug %}">
                                        <div class="product-image">
                                            <img src="{{ product.productimagemodel_set.all.first.img.url }}" alt=""
                                                 class="img-fluid one-image">
                                            <img src="{{ product.productimagemodel_set.all.first.img.url }}" alt=""
                                                 class="img-fluid two-image">
                                        </div>
                                        <div class="product-title">
                                            <div class="title">
                                                <p class="text-overflow-1 title-font">{{ product.name }}</p>
                                            </div>
                                        </div>
                                        <div class="product-action">
                                            <div class="link">
                                                <button class="btn border-0 rounded-3 main-color-one-bg" href="">
                                                    <i class="bi bi-basket text-white"></i>
                                                </button>
                                            </div>
                                            <div class="price">
                                                {% if product.discount %}
                                                    <p class="old-price">{{ product.price }} <span
                                                            class="danger-label rounded-3 ms-2">%{{ product.discount }}</span>
                                                    </p>
                                                    <p class="new-price">{{ product.disCount }} <span class="font-12">تومان</span>
                                                    </p>
                                                {% else %}
                                                    <p class="new-price">{{ product.price }} <span
                                                            class="font-12">تومان</span></p>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </a>
                                    <div class="product-foot mt-2 border-top border-1 pt-1">
                                        <div class="d-flex align-items-center justify-content-between">
                                            {% if request.user.is_authenticated %}
                                                <li class="nav-item"
                                                    onclick="addProductToFavorite({{ product.id }})">
                                                    <a
                                                            class="nav-item product-box-hover-item product-box-hover-item-btn"
                                                            data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-title="افزودن به علاقه ها">
                                                        {% if product in favorit %}
                                                            <i class="bi bi-heart-fill text-danger"></i>
                                                        {% else %}
                                                            <i class="bi bi-heart"></i>
                                                        {% endif %}
                                                    </a></li>
                                            {% endif %}
                                            <div class="product-rating">
                                                <div class="number"><span
                                                        class="text-muted font-12">({{ item.commentmodel_set.all|length }}) {{ item.ratingAvrg }}</span>
                                                </div>
                                                <div class="icon"><i class="bi bi-star-fill"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}


                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-slider free-sw site-slider mt-5">
        <div class="container-fluid">
            <div class="section-title">
                <div class="row gy-3 align-items-center">
                    <div class="col-sm-8">
                        <div class="section-title-title">
                            <h2 class="title-font h1 main-color-three-color">کتاب<span class="main-color-one-color"> عمومی </span>
                            </h2>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="section-title-link text-sm-end text-start">
                            <a class="btn btn-title  rounded-pill" href="{% url 'search-catgory' catgory2.slug %}"> مشاهده همه</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="parent parent-two">
            <div class="container-fluid">
                <div class="swiper pro-slider">
                    <div class="swiper-wrapper">
                        {% for product in catgory2_product %}
                            <div class="swiper-slide">
                                <div class="product-box">
                                    <a href="{% url 'product-detail' product.slug %}">
                                        <div class="product-image">
                                            <img src="{{ product.productimagemodel_set.all.first.img.url }}" alt=""
                                                 class="img-fluid one-image">
                                            <img src="{{ product.productimagemodel_set.all.first.img.url }}" alt=""
                                                 class="img-fluid two-image">
                                        </div>
                                        <div class="product-title">
                                            <div class="title">
                                                <p class="text-overflow-1 title-font">{{ product.name }}</p>
                                            </div>
                                        </div>
                                        <div class="product-action">
                                            <div class="link">
                                                <button class="btn border-0 rounded-3 main-color-one-bg" href="">
                                                    <i class="bi bi-basket text-white"></i>
                                                </button>
                                            </div>
                                            <div class="price">
                                                {% if product.discount %}
                                                    <p class="old-price">{{ product.price }} <span
                                                            class="danger-label rounded-3 ms-2">%{{ product.discount }}</span>
                                                    </p>
                                                    <p class="new-price">{{ product.disCount }} <span class="font-12">تومان</span>
                                                    </p>
                                                {% else %}
                                                    <p class="new-price">{{ product.price }} <span
                                                            class="font-12">تومان</span></p>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </a>
                                    <div class="product-foot mt-2 border-top border-1 pt-1">
                                        <div class="d-flex align-items-center justify-content-between">
                                            {% if request.user.is_authenticated %}
                                                <li class="nav-item"
                                                    onclick="addProductToFavorite({{ product.id }})">
                                                    <a
                                                            class="nav-item product-box-hover-item product-box-hover-item-btn"
                                                            data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-title="افزودن به علاقه ها">
                                                        {% if product in favorit %}
                                                            <i class="bi bi-heart-fill text-danger"></i>
                                                        {% else %}
                                                            <i class="bi bi-heart"></i>
                                                        {% endif %}
                                                    </a></li>
                                            {% endif %}
                                            <div class="product-rating">
                                                <div class="number"><span
                                                        class="text-muted font-12">({{ item.commentmodel_set.all|length }}) {{ item.ratingAvrg }}</span>
                                                </div>
                                                <div class="icon"><i class="bi bi-star-fill"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}


                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-slider free-sw site-slider mt-5">
        <div class="container-fluid">
            <div class="section-title">
                <div class="row gy-3 align-items-center">
                    <div class="col-sm-8">
                        <div class="section-title-title">
                            <h2 class="title-font h1 main-color-three-color">کتاب<span class="main-color-one-color"> کودک و نوجوان </span>
                            </h2>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="section-title-link text-sm-end text-start">
                            <a class="btn btn-title  rounded-pill" href="{% url 'search-catgory' catgory3.slug %}"> مشاهده همه</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="parent parent-two">
            <div class="container-fluid">
                <div class="swiper pro-slider">
                    <div class="swiper-wrapper">
                        {% for product in catgory3_product %}
                            <div class="swiper-slide">
                                <div class="product-box">
                                    <a href="{% url 'product-detail' product.slug %}">
                                        <div class="product-image">
                                            <img src="{{ product.productimagemodel_set.all.first.img.url }}" alt=""
                                                 class="img-fluid one-image">
                                            <img src="{{ product.productimagemodel_set.all.first.img.url }}" alt=""
                                                 class="img-fluid two-image">
                                        </div>
                                        <div class="product-title">
                                            <div class="title">
                                                <p class="text-overflow-1 title-font">{{ product.name }}</p>
                                            </div>
                                        </div>
                                        <div class="product-action">
                                            <div class="link">
                                                <button class="btn border-0 rounded-3 main-color-one-bg" href="">
                                                    <i class="bi bi-basket text-white"></i>
                                                </button>
                                            </div>
                                            <div class="price">
                                                {% if product.discount %}
                                                    <p class="old-price">{{ product.price }} <span
                                                            class="danger-label rounded-3 ms-2">%{{ product.discount }}</span>
                                                    </p>
                                                    <p class="new-price">{{ product.disCount }} <span class="font-12">تومان</span>
                                                    </p>
                                                {% else %}
                                                    <p class="new-price">{{ product.price }} <span
                                                            class="font-12">تومان</span></p>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </a>
                                    <div class="product-foot mt-2 border-top border-1 pt-1">
                                        <div class="d-flex align-items-center justify-content-between">
                                            {% if request.user.is_authenticated %}
                                                <li class="nav-item"
                                                    onclick="addProductToFavorite({{ product.id }})">
                                                    <a
                                                            class="nav-item product-box-hover-item product-box-hover-item-btn"
                                                            data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-title="افزودن به علاقه ها">
                                                        {% if product in favorit %}
                                                            <i class="bi bi-heart-fill text-danger"></i>
                                                        {% else %}
                                                            <i class="bi bi-heart"></i>
                                                        {% endif %}
                                                    </a></li>
                                            {% endif %}
                                            <div class="product-rating">
                                                <div class="number"><span
                                                        class="text-muted font-12">({{ item.commentmodel_set.all|length }}) {{ item.ratingAvrg }}</span>
                                                </div>
                                                <div class="icon"><i class="bi bi-star-fill"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}


                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-slider free-sw site-slider mt-5">
        <div class="container-fluid">
            <div class="section-title">
                <div class="row gy-3 align-items-center">
                    <div class="col-sm-8">
                        <div class="section-title-title">
                            <h2 class="title-font h1 main-color-three-color">کتاب<span class="main-color-one-color"> دانشگاهی </span>
                            </h2>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="section-title-link text-sm-end text-start">
                            <a class="btn btn-title  rounded-pill" href="{% url 'search-catgory' catgory4.slug %}"> مشاهده همه</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="parent parent-two">
            <div class="container-fluid">
                <div class="swiper pro-slider">
                    <div class="swiper-wrapper">
                        {% for product in catgory4_product %}
                            <div class="swiper-slide">
                                <div class="product-box">
                                    <a href="{% url 'product-detail' product.slug %}">
                                        <div class="product-image">
                                            <img src="{{ product.productimagemodel_set.all.first.img.url }}" alt=""
                                                 class="img-fluid one-image">
                                            <img src="{{ product.productimagemodel_set.all.first.img.url }}" alt=""
                                                 class="img-fluid two-image">
                                        </div>
                                        <div class="product-title">
                                            <div class="title">
                                                <p class="text-overflow-1 title-font">{{ product.name }}</p>
                                            </div>
                                        </div>
                                        <div class="product-action">
                                            <div class="link">
                                                <button class="btn border-0 rounded-3 main-color-one-bg" href="">
                                                    <i class="bi bi-basket text-white"></i>
                                                </button>
                                            </div>
                                            <div class="price">
                                                {% if product.discount %}
                                                    <p class="old-price">{{ product.price }} <span
                                                            class="danger-label rounded-3 ms-2">%{{ product.discount }}</span>
                                                    </p>
                                                    <p class="new-price">{{ product.disCount }} <span class="font-12">تومان</span>
                                                    </p>
                                                {% else %}
                                                    <p class="new-price">{{ product.price }} <span
                                                            class="font-12">تومان</span></p>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </a>
                                    <div class="product-foot mt-2 border-top border-1 pt-1">
                                        <div class="d-flex align-items-center justify-content-between">
                                            {% if request.user.is_authenticated %}
                                                <li class="nav-item"
                                                    onclick="addProductToFavorite({{ product.id }})">
                                                    <a
                                                            class="nav-item product-box-hover-item product-box-hover-item-btn"
                                                            data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            data-bs-title="افزودن به علاقه ها">
                                                        {% if product in favorit %}
                                                            <i class="bi bi-heart-fill text-danger"></i>
                                                        {% else %}
                                                            <i class="bi bi-heart"></i>
                                                        {% endif %}
                                                    </a></li>
                                            {% endif %}
                                            <div class="product-rating">
                                                <div class="number"><span
                                                        class="text-muted font-12">({{ item.commentmodel_set.all|length }}) {{ item.ratingAvrg }}</span>
                                                </div>
                                                <div class="icon"><i class="bi bi-star-fill"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}


                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end product slider -->
{% endblock %}