{% extends '_layout.html' %}

{% block title %}
    ثبت نام
{% endblock %}

{% block content %}


    <!-- start content -->

    <div class="content">
        <div class="container-fluid">
            <div class="auth">
                <div class="auth-logo text-center my-4"><img src="/static/img/logo.png" width="180" alt=""></div>
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="content-box auth-front auth-front-reg">
                            <div class="container-fluid">
                                <div class="auth-action text-center">
                                    <a href="{% url 'login' %}" class="btn btn-lg font-18">ورود به سایت</a>
                                    <a href="{% url 'register' %}"
                                       class="btn btn-lg bg-white shadow-md fw-bold font-18 ms-2">عضویت
                                        در سایت</a>
                                </div>

                                <div class="auth-form mt-80 py-4">
                                    <form action="{% url 'register' %}" method="post">
                                        {% csrf_token %}

                                        <div class="mb-4 form-avatar text-center">
                                            <img src="/static/img/user-avatar.svg" width="100" alt="">
                                        </div>

                                        <div class="comment-item mb-3">
                                            {{ form.userName }}
                                            <div class="mt-3">{{ form.userName.errors }}</div>
                                            <label for="floatingInputEmail" class="form-label label-float">نام کاربری خود را وارد کنید.</label>
                                        </div>

                                        <div class="comment-item mb-3">
                                            {{ form.email }}
                                            <div class="mt-3">{{ form.email.errors }}</div>
                                            <label for="floatingInputEmail" class="form-label label-float">ایمیل خود را
                                                وارد
                                                کنید</label>
                                        </div>

                                        <div class="comment-item mt-4 position-relative">
                                            {{ form.password }}
                                            <div class="mt-3">{{ form.password.errors }}</div>
                                            <label for="floatingInputPasswd" class="form-label label-float">رمز عبور خود
                                                را
                                                وارد
                                                کنید</label>
                                        </div>

                                        <div class="comment-item mt-4 position-relative">
                                            {{ form.passwordCheck }}
                                            <div class="mt-3">{{ form.passwordCheck.errors }}</div>
                                            <label for="floatingInputPasswdRe" class="form-label label-float">رمز عبور
                                                خود را تکرار
                                                کنید</label>
                                        </div>

                                        <div class="form-group mb-0">
                                            <button type="submit" class="btn main-color-one-bg w-100 py-3">
                                                ثبت نام در سایت
                                            </button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end content -->

    <br><br><br><br><br><br><br>

{% endblock %}