{% extends '_layout-user.html' %}
{% load render_partial %}

{% block title %}
    تغییر رمز عبور
{% endblock %}

{% block content %}
    <div class="col-lg-9">
        <div class="section-title">
            <div class="section-title-title">
                <h3 class="title-font h3 main-color-three-color">ویرایش<span
                        class="main-color-one-color"> رمزعبور </span>
                </h3>
            </div>
        </div>
        <div class="content-box slider-parent rounded-4">
            <div class="container-fluid">
                <form action="" method='post'>
                    {% csrf_token %}
                    <div class="row gy-2">
                        <div class="col-sm-4">
                            <div class="comment-item mb-3">
                                {{ form.oldPass }}
                                {{ form.oldPass.errors }}
                                <label for="floatingInputoldPasswd" class="form-label label-float fw-bold">رمزعبور
                                    قبلی</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="comment-item mb-3">
                                {{ form.newPass }}
                                <label for="floatingInputNewPasswd" class="form-label label-float fw-bold">رمزعبور
                                    جدید</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="comment-item mb-3">
                                {{ form.rePass }}
                                <label for="floatingInputConfirmPasswd" class="form-label label-float fw-bold">تکرار
                                    رمزعبور جدید</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <input type="submit" value="تغییر" class="btn main-color-one-bg px-5 w-100-in-400 pt-2">
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>
{% endblock %}