{% extends '_layout.html' %}

{ {% block title %}
    تایید اکانت
{% endblock %}

{% block content %}

    <!-- start content -->

    <div class="content">
        <div class="container-fluid">
            <div class="auth">
                <div class="auth-logo text-center my-4"><img src="/static/img/logo.png" width="180" alt=""></div>
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="content-box p-3">
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="alert text-center alert-success">
                                    یک کد برای ایمیل شما ارسال شد لطفا آن را وارد کنید
                                </div>

                                <div id="otp-input">
                                    {{ form.num1 }}
                                    {{ form.num2 }}
                                    {{ form.num3 }}
                                    {{ form.num4 }}
                                    {{ form.num5 }}
                                    {{ form.num6 }}
                                    {{ form.fullNumber }}
                                </div>

                                <div class="w-100 d-flex align-items-center justify-content-start mx-4 mt-3">
                                    {{ form.num1.errors }}
                                </div>

                                <!-- Countdown timer html -->
                                <div class="countDownContainer">
                                    <div class="countdown-bar" id="countdownB">
                                        <div></div>
                                        <div></div>
                                    </div>
                                </div>

                                <div class="form-group mt-4">
                                    <button id="submit" type="submit" class="btn main-color-one-bg w-100 py-3">
                                        تایید
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end content -->

    <br><br><br><br><br><br><br>

{% endblock %}
